---
import ProjectCard from "../components/ProjectCard.astro";
import ProjectRow from "../components/ProjectRow.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<section class="container mx-auto px-4 md:px-32 flex flex-col h-screen justify-center gap-2">
		<p class="text-xl lg:text-lg text-cyan-600">G'day! My name is</p>
		<h1 class="text-5xl lg:text-8xl font-bold">Corey McCormick</h1>
		<h2 class="text-4xl lg:text-6xl text-cyan-600 font-semibold">I'm an app developer and designer</h2>
		<div class="mt-6"><a href="/" class="border border-cyan-300 text-cyan-300 p-3">My Portfolio</a></div>
	</section>
	<section class="container mx-auto px-2 md:px-32 h-screen flex flex-col md:flex-row items-center gap-3">
		<div class="grow">
			<h2 class="text-5xl text-cyan-300 font-bold pb-4">About Me</h2>
			<p class="text-cyan-50">
				I am currently in my second year of studying a Bachelor of Information Technology majoring
				in information systems. I am passionate about seeing technology used for good and being
				a tool for good rather than a necessary evil in our world.
			</p>
			<p class="py-1 font-semibold pt-4">My Favourite Technologies:</p>
			<div class="flex flex-row font-sm gap-3">
				<div class="bg-blue-400 p-2 rounded-lg">TypeScript</div>
				<div class="bg-orange-400 p-2 rounded-lg">Svelte</div>
				<div class="bg-green-700 p-2 rounded-lg">Python</div>
				<div class="bg-green-500 p-2 rounded-lg">Supabase</div>
			</div>
		</div>
		<div class="rounded-xl bg-white shadow text-black p-2 text-center flex-auto -order-1 md:order-1 md:w-2/3">
			<div class="bg-cyan-300 p-1 rounded-xl">
				<img src="./avatar.png" class="w-1/3 mx-auto"/>
			</div>
			<p class="font-bold text-xl pt-12">Corey McCormick</p>
			<p>Software engineer and designer</p>
			<p class="py-2 text-sm pb-12">Expiry: 26/05/2104</p>
		</div>
	</section>
	<section class="container mx-auto px-2 md:px-32 min-h-screen">
		<h2 class="text-4xl text-cyan-300 rounded-lg font-bold">My Recent Projects</h2>
		<div class="flex flex-col">
			<ProjectRow title="My Redesigned Portfolio" abstract="That's right, the website you're looking at now." img_url="./avatar.png"></ProjectRow>
			<ProjectRow title="Digital Self-Care Research Project" abstract="An ongoing assignment research project of mine." img_url="./avatar.png" alternate></ProjectRow>
			<ProjectRow title="Designing a Better Canvas" abstract="Suddenly, we're all using it. But does anyone actually enjoy using it?" img_url="./avatar.png"></ProjectRow>
		</div>
	</section>
	<div class="section container mx-auto px-2 md:px-32 py-24">
		<h2 class="text-4xl text-cyan-300 font-bold">Get in Touch</h2>
		<p>Contact details</p>
	</div>
</Layout>


