---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<p class="text-xl lg:text-3xl">G'day! My name is</p>
	<h1 class="text-5xl lg:text-9xl font-bold text-cyan-300 text-center">Corey McCormick</h1>
	<h3 class="text-2xl lg:text-4xl font-light lg:tracking-widest">
		Web Developer / Designer
	</h3>
	<div class="flex flex-row gap-3">
		<div class="bg-orange-800 p-2 rounded">Svelte</div>
		<div class="bg-blue-500 p-2 rounded">React</div>
		<div class="bg-green-600 p-2 rounded">Vue</div>
		<div class="bg-purple-500 p-2 rounded">C#</div>
	</div>
</Layout>


