---
export interface Props {
    title: string;
    abstract: string;
    url: string;
    image_url: string;
}

const { title, abstract, url, image_url } = Astro.props;
---

<div class="bg-cyan-900 hover:bg-cyan-700 text-white shadow rounded flex flex-col gap-2">
    <a class="flex flex-col gap-2 p-2" href={url}>
        <img src={image_url} alt="" class="w-full h-40 object-cover">
        <h4 class="text-xl font-bold">{title}</h4>
        <!-- <p>{abstract}</p> -->
    </a>
</div>
